.teamParis {
  font-family: "Montserrat", sans-serif;
	color: #8d97ad;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
}

.teamParis h1, .teamParis h2, .teamParis h3, .teamParis h4, .teamParis h5, .teamParis h6 {
  color: #3e4555;
}

.teamParis .font-weight-medium {
	font-weight: 500;
}

.teamParis h5 {
    line-height: 22px;
    font-size: 18px;
}

.teamParis .subtitle {
    color: #8d97ad;
    line-height: 24px;
		font-size: 13px;
}

.teamParis ul li a {
  color: #8d97ad;
  padding-right: 15px;
  -webkit-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.teamParis ul li a:hover {
  -webkit-transform: translate3d(0px, -5px, 0px);
  transform: translate3d(0px, -5px, 0px);
	color: #316ce8;
}

.teamParis img{
  width: 90px;
  height: 90px;
}