.grilleParis{
  background-color: #F4F6F6;
  height: auto;
  margin-bottom: 0;
  
}


.texteParis{
  text-align: center;
  margin: 0;
  padding: 0;
}



.titreParis{
  color: #ed7e24;
}







