.grille{
	background-color: #f2f9f8;
	height: auto;

	
}

.logos{
	margin-top: 20px;
}

.texte{
	text-align: center;
	margin: 0;
	padding: 0;
}

.btns{
	background: #F4F6F6;
    color: #eb5424;
   margin-bottom: 10px;
     border-left: none;
     border-right: none;
     border-bottom: 1px solid #eb5424;
     border-top: 1px solid #eb5424;
    padding: 3px;
    padding-left: auto;
    cursor: pointer;
    
    
}

.btns:hover{
     background: #fff;
    color: #eb5424
    
}

.chiff{
	display: block;
	margin: auto;
}


.aboutBtn .btnContact{
    background: #ed7e24;
    color: #fff;
    font-size: 18px;
    width: 200px;
    border: 0;
    padding: 15px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 10px;
    text-decoration: none;
   
}

h2.titre2.text-center{
    padding: 20px;
   }
