/*.offer {
    height: auto;
    padding: 50px 0;
    overflow: hidden;
    background: #F4F6F6;
  

}

.offer_title {
    margin-top: 0;
    font-size: 34px; 
    text-align: center;
}

.span {
    font-weight: normal;
}

.part {
    margin-top: 0;
    height: auto;
    padding: 50px 0;
    padding-left: auto;
    width: 100%;  
}

.green-tick {
  list-style-type: none;
  margin-left: ;
  padding: 0;
}



.comp1{
     background:  #ed7e24 ;
}

.comp2{
     background:  #00cccb ;
}

.apartir{
    font-size: 20px;
    color: white;
    text-align: center;
}

.vingt{
    font-size: 50px;
    color: white;
    margin-top: 0;
    text-align: center;
}

.tva{
     font-size: 20px;
     color: white;
     margin-top: 0;
     text-align: center;
}



.icon {
    color: #888;
    margin-bottom: 20px
}

.part-title {
    margin-top: 5px;
    font-size: 25px;
    color: white;
    margin-bottom: 20px
}

.pack_title {
    color: white;
    text-align: center;
}

.line {
    width: 60%;
    margin: auto;
    margin-bottom: 20px
}

.part-desc {
    color: white;
    
}

.part_last{
    color: white;
}

.listItem{
    color: white;
    font-size: 15px;
}

.progress-content{
  margin-top: 20px;
}

.progress{
  width: 150px;
  height: 150px;
  background: none;
  box-shadow:   none;
  margin: 0 auto;
}

.progress > span{
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  overflow:   hidden;
  z-index:  2

}

.progress .progress-value{
  position: absolute;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  top: 5%;
  left: 5%;
  background: #44489b;
  color: #fff;
  font-size:  25px;
  text-align:   center;
  line-height:  135px;
}

@keyframes load2 {
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(180deg);
  }
}

@keyframes load1 {
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(180deg);
  }
}*/

.exprets {
    background: #F4F6F6;
    height: auto;
    margin-bottom: 20px;
}

.exprets .section-title {
    color: #000
}

.exprets .progress-content {
    margin-top: 20px;
    color: #fff;
}

.exprets .progress {
    width: 150px;
    height: 150px;
    background: none;
    box-shadow: none;
    margin: 0 auto;
    position: relative
}

.exprets .progress > span { 
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    overflow: hidden;
    z-index: 2
}

.exprets .progress .progress-value {
    position: absolute;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    top: 5%;
    left: 5%;
    background: none;
    color: #fff;
    font-size: 25px;
    text-align: center;
    line-height: 135px
}

.exprets .progress .progress-left {
    left: 0;
}

.exprets .progress .progress-right {
    right: 0;
}

.exprets .progress .progress-bar {
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
    border-width: 10px;
    border-style: solid;
}

.exprets .progress.blue .progress-bar {
    border-color: #049dff 
}

.exprets .progress.yellow .progress-bar {
    border-color: #fdba04 
}

.exprets .progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    transform-origin: left;
}

.exprets .progress .progress-right .progress-bar {
    right: 100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    transform-origin: right;
    animation: load1 1.8s linear forwards
}

.exprets .progress.blue .progress-left .progress-bar {
    animation: load2 1.5s linear forwards 1.8s
}

.exprets .progress.yellow .progress-left .progress-bar {
    animation: load3 1s linear forwards 1.8s
}

@keyframes load1 {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(180deg);
    }
}

@keyframes load2 {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(144deg);
    }
}

@keyframes load3 {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(90deg);
    }
}

.exprets .title {
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 20px
}

.comp1{
     background:  #ed7e24 ;
}

.comp2{
     background:  #00cccb ;
}

 .green-tick{
  display: block;
}

.tarif-end{
  margin-top: 15px;
  text-align: center;
}

.linkTarif{
  text-decoration: none;
  color: #000;
  font-weight: bold;
  background: transparent;
}

.linkTarif:hover{
  text-decoration: none;
}

.green-tick .listItem{
    list-style: none;
}