.partenaire{
    height: auto;
    background-color: #fff;
    margin-top: 0;
}

.partTitle{
    margin-bottom: 0;
}

.logo1{
    width: 100%;
}

.logo2{
   width: 170px;  
   height: 86px;
}


.logo3{
   width: 200px;
    height: 85px;
}

.logo{
   margin-top: 0; 
   padding-top: 0;
   
}

.partTitle {
    margin-top: 0;
    font-size: 20px; 
    text-align: center;
    margin-bottom: 0;
   
}
