.teamLyon {
  font-family: "Montserrat", sans-serif;
	color: #8d97ad;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
}

.teamLyon h1, .teamLyon h2, .teamLyon h3, .teamLyon h4, .teamLyon h5, .teamLyon h6 {
  color: #3e4555;
}

.teamLyon .font-weight-medium {
	font-weight: 500;
}

.teamLyon h5 {
    line-height: 22px;
    font-size: 18px;
}

.teamLyon .subtitle {
    color: #8d97ad;
    line-height: 24px;
		font-size: 13px;
}

.teamLyon ul li a {
  color: #8d97ad;
  padding-right: 15px;
  -webkit-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.teamLyon ul li a:hover {
  -webkit-transform: translate3d(0px, -5px, 0px);
  transform: translate3d(0px, -5px, 0px);
	color: #316ce8;
}

.teamLyon img{
  width: 90px;
  height: 90px;
}