
.expedition .form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
.expedition .form .form-container {
  display: flex;
  flex-direction: column;
  width: 32rem;
  padding: 2rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  list-style-type: none;
}
.expedition .form .form-container li {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.expedition input {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
}

.expedition .button {
  padding: 1rem;
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  cursor: pointer;
}
.expedition .button:hover {
  border: 0.1rem #404040 solid;
}
.expedition .button  {
  background-color: #00cccb;
}
.expedition .button .secondary {
  background-color: #f0f0f0;
}
.expedition .text-center {
  text-align: center;
}

