
.bordeauxSection {
    
    height: 500px;
    background-image: url("/media/bordeauxHeaderimg.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    position: relative;
}
   


.bordeauxInformation{
 position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
   


.bordeauxTitle{
    font-size: 45px;
    font-weight: bold;
    color:  #00cccb;
}

    


.bordeauxInfo{
    font-size: 45px;
    color: #fff ;
    font-weight: bold;
    margin-bottom: 20px;
} 

.bordeauxDesc{
    font-size: 45px;
    line-height: 1.5;
    color: #00cccb;
    font-weight: bold;
    margin-bottom: 20px;
    width: 550px;
     text-align: center;
}




.bordeauxBtn{
    background: #ed7e24;
    color: #fff;
    font-size: 18px;
    width: 200px;
    border: 0;
    padding: 15px;
    cursor: pointer;
    font-weight: bold
   
       
   
    }

.bordeauxBtn:hover{
     background: #fff;
    color: #eb5424;
    text-decoration: none;
}

.bordeauxBtnContact{
    background: #00cccb;
    color: #fff;
    font-size: 18px;
    width: 200px;
    border: 0;
    padding: 15px;
    margin-left: 5px;
    cursor: pointer;
    font-weight: bold;
   }

.bordeauxBtnContact:hover{
     background: #fff;
    color: #eb5424;
    text-decoration: none;
}








/*@media (max-width:768px) {
    .home .home-information .home-title {
        font-size: 40px;
        color: #fff
    }
    
    .home .home-information .home-info {
        font-size: 20px
    }
    
    .home .home-information .home-desc {
        font-size: 15px
    }
}

@media (max-width:575px) {
    .home .home-information .home-title {
        font-size: 30px;
    }
}*/


 