
.marseilleSection {
    height: 500px;
    background: url(https://www.liligo.fr/magazine-voyage/wp-content/uploads/sites/42/2016/03/Marseille-header-iStock.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    position: relative;
}
   


.marseilleInformation{
 position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
   


.marseilleTitle{
    font-size: 45px;
    font-weight: bold;
    color:  #00cccb;
}

    


.marseilleInfo{
    font-size: 45px;
    color: #000 ;
    font-weight: bold;
    margin-bottom: 20px;
} 

.marseilleDesc{
    font-size: 45px;
    line-height: 1.5;
    color: #00cccb;
    font-weight: bold;
    margin-bottom: 20px;
    width: 550px;
     text-align: center;
}



.marseilleBtn{
    background: #ed7e24;
    color: #fff;
    font-size: 18px;
    width: 200px;
    border: 0;
    padding: 15px;
    cursor: pointer;
    font-weight: bold
   
       
   
    }

.marseilleBtn:hover{
     background: #fff;
    color: #eb5424;
    text-decoration: none;
}

.marseilleBtnContact{
    background: #00cccb;
    color: #fff;
    font-size: 18px;
    width: 200px;
    border: 0;
    padding: 15px;
    margin-left: 5px;
    cursor: pointer;
    font-weight: bold;

   }

.marseilleBtnContact:hover{
     background: #fff;
     color: #eb5424;
     text-decoration: none;

}








/*@media (max-width:768px) {
    .home .home-information .home-title {
        font-size: 40px;
        color: #fff
    }
    
    .home .home-information .home-info {
        font-size: 20px
    }
    
    .home .home-information .home-desc {
        font-size: 15px
    }
}

@media (max-width:575px) {
    .home .home-information .home-title {
        font-size: 30px;
    }
}*/


 