.contactGrid{
	margin-top: 100px;
}
.coordonnees{
	display: block;
	height: auto;

}
.townsData{
	list-style: none;
	display: block;

}
.coordonnees .townItem{
	font-size: 22px;
	padding-top: 5px;
	list-style: none;

}
 
.coordonnees .townItem .townsData li{
	font-size: 15px;
	margin: 0;
	list-style: none;

}

.coordonnees .townItem .townsData{
	height: auto;
}

